<form [formGroup]="mealForm">
  <ion-item>
    <ion-select placeholder="Tipo di pasto" name="type">
      <ion-select-option *ngFor="let type of mealTypes | enumToArray" value="{{type}}">{{mealTypes[type]}}</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item (click)="addDish()">
    <ion-icon name="add-circle-outline" size=medium></ion-icon>
  </ion-item>
  <ul>
    <li *ngFor="let dish of dishes?.controls; let i = index">
      <app-dish-form [dishForm]="dish" [index]="i"></app-dish-form>
    </li>
  </ul>
</form>