@import url("https://fonts.googleapis.com/css?family=Titillium+Web&display=swap");

ion-item {
  --ion-background-color: white;
  box-shadow: none;
}

h1 {
  font-family: "Titillium Web", sans-serif;
  text-align: center;
}

.user-plan-list {
  height: auto;
  width: 100%;
}
