<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Utente</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <p *ngIf="auth.loading" class="ion-text-center">Loading...</p>
  <ng-template [ngIf]="!auth.loading">
    <!-- Not loading, not logged in: show login button -->
    <ion-button button expand="block" color="primary" *ngIf="!auth.loggedIn" (click)="auth.login()">Log In</ion-button>
    <!-- Not loading, logged in: show profile and logout button -->
    <ng-template [ngIf]="auth.loggedIn">
      <ion-item>
        <ion-avatar slot="start">
          <img [src]="auth.user.picture">
        </ion-avatar>
        <ion-label>
          <h1>{{ auth.user.name }}</h1>
        </ion-label>
        <ion-button button expand="block" color="danger" (click)="auth.logout()">
          <ion-icon name="log-out"></ion-icon>
        </ion-button>
      </ion-item>
      <ion-slides class="user-plan-list">
        <ion-slide>
          <ion-item>
            <app-plan-card-list [plans$]="userPlans$"></app-plan-card-list>
          </ion-item>
        </ion-slide>
        <ion-slide>
          <app-plan-card-list [plans$]="savedPlans$"></app-plan-card-list>
        </ion-slide>
      </ion-slides>
    </ng-template>
  </ng-template>
</ion-content>