.card{
    background-color: 	#fce198;
    max-height: 30%;
    ion-card-title{
        color: #006400;
        font-weight: bold;
        overflow: scroll;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
    }
    ion-card-content{
    font-size: small;
    overflow: scroll;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-height: 16px;
    max-height: 200px;
    -webkit-box-orient: vertical;
    :hover{
        background-color: saturation($color: #fce198);
    }
}
}

.author{
    color: #006400;
    font-size: small;
    float: right;
    size: small;
}

.badge{
    font-size: x-small;
}