.head{
    max-height: 50px;
}

.card{
    background-color: 	#fce198;
    max-height: 120px;
    ion-card-title{
        color: #264d00;
        font-weight: bold;
        font-size: medium;

        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        line-height: 13px;
    }
    ion-card-content{
    font-size: x-small;

    overflow: scroll;
    text-overflow: clip;
    line-height: 15px;
    max-height: 40px;
    
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    :hover{
        background-color: saturation($color: #fce198);
    }
}
}

.author{
    color: #264d00;
    font-size: small;
    float: right;
    size: small;
}

.badge{
    font-size: x-small;
    background-color: #264d00;
    margin-left: 15px;
}

.date{
    float: right;
    margin-right: 12px;
}

.foot{
   width: 300px;
   max-height: 20px;
}