<ion-header>
  <ion-toolbar>
    <ion-title>
      AvocadoPlan
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar show-cancel-button="focus"></ion-searchbar>

  <ion-card class="card4" href="">
    <ion-card-header>
      <ion-card-subtitle>Autore1</ion-card-subtitle>
      <ion-card-title class="title">BraccioDiFerro</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Questo piano alimentare conferisce poteri sovrannaturali a chi lo segue.
    </ion-card-content>
  </ion-card>


  <ion-card class="card4">
    <ion-card-header>
      <ion-card-subtitle>Autore2</ion-card-subtitle>
      <ion-card-title class="title2">Olivia</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Questo piano alimentare dona una forma fisica snella e slanciata a chi lo segue.
    </ion-card-content>
  </ion-card>


  <ion-card class="card4">
    <ion-card-header>
      <ion-card-subtitle>Autore1</ion-card-subtitle>
      <ion-card-title class="title">BraccioDiFerro</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Questo piano alimentare conferisce poteri sovrannaturali a chi lo segue.
    </ion-card-content>
  </ion-card>


  <ion-card class="card4">
    <ion-card-header>
      <ion-card-subtitle>Autore2</ion-card-subtitle>
      <ion-card-title class="title2">Olivia</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Questo piano alimentare dona una forma fisica snella e slanciata a chi lo segue.
    </ion-card-content>
  </ion-card>

   <ion-card class="card4">
    <ion-card-header>
      <ion-card-subtitle>Autore2</ion-card-subtitle>
      <ion-card-title class="title2">Olivia</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Questo piano alimentare dona una forma fisica snella e slanciata a chi lo segue.
    </ion-card-content>
  </ion-card>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>