<ion-header>
  <ion-toolbar class="head" color="primary">
    <ion-buttons slot="start">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/app/tabs/home"></ion-back-button>
      </ion-buttons>
    </ion-buttons>
    <ion-title>Create plan</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>

  <!--
  <form [formGroup]="createForm" (ngSubmit)="createPlan()"> 
      <ion-item>
        <ion-label position="floating">Title</ion-label>
        <ion-input type="text" formControlName="plan_title"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Plan description</ion-label>
        <ion-textarea formControlName="plan_description"></ion-textarea>
      </ion-item>
  </form> -->
  <form [formGroup]="planForm">


    <ion-card class="generality">
      <ion-item>
        <ion-label position="floating">Title</ion-label>
        <ion-input type="text" formControlName="title"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Plan description</ion-label>
        <ion-textarea formControlName="description"></ion-textarea>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Drinks</ion-label>
        <ion-textarea formControlName="drinkDescription"></ion-textarea>
      </ion-item>
    </ion-card>

    <div formArrayName="days">
    <div *ngFor="let day of planForm.get('days')?.controls; let i = index">
      <div [formGroupName]="i">
          <ion-card class="day">
            <ion-item >
              <ion-button (click)="deleteDay(i)" color="danger">
                <ion-icon name="close"></ion-icon>
              </ion-button>
            </ion-item>
          <ion-item>
            <!-- change type to ion-select -->
            <ion-input type="number" formControlName="weekDay" placeholder="Giorno della settimana"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input type="number" formControlName="week" placeholder="Settimana n*"></ion-input>
        </ion-item>
        <div formArrayName="meals">
          <div *ngFor="let meal of day.get('meals').controls; let j = index">
            <div [formGroupName]="j">
              <!-- <button (click)="showMealOverlay(i, j)">{{meal.get('type').value}}</button>
              <button (click)="deleteMeal(day.controls.meals, i, j)">Delete</button> -->
              <ion-grid>
                <ion-row>
                  <ion-col size="9">
                    <ion-button expand="block" (click)="presentModal(meal)" color="primary" >{{meal.get('type').value}}</ion-button>
                  </ion-col>
                  <ion-col >
                    <ion-button (click)="deleteMeal(day.controls.meals, i, j)" color="danger"><ion-icon name="close"></ion-icon></ion-button> 
                  </ion-col>
                </ion-row>
              </ion-grid>

            </div> <!-- [formGroupName]="j" -->
          </div>
            <ion-button expand="block" (click)="addMeal(day.controls.meals, i)" color="secondary">
              <ion-icon name="add" size=medium></ion-icon>
              ADD MEAL
            </ion-button>
        </div>
      </ion-card>
      </div>
    </div>


    <ion-button expand="block" color="primary" (click)="addDay()"><ion-icon name="add"></ion-icon>ADD DAY</ion-button>
    <ion-button expand="block" color="secondary" (click)="createPlan()"><ion-icon name="arrow-up"></ion-icon>SUBMIT</ion-button>
</div>

  </form>

  <pre>
    {{planForm.value | json}}
  </pre>

</ion-content>


