<ion-header>
  <ion-toolbar>
    <ion-title>Create plan</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<ion-item>
  <ion-label position="floating">Titolo</ion-label>
  <ion-input></ion-input>
</ion-item>
<ion-item>
  <ion-label position="floating">Descrizione piano</ion-label>
  <ion-input></ion-input>
</ion-item>
<ion-item>
  <ion-label position="floating">Bevande consigliate</ion-label>
  <ion-input></ion-input>
</ion-item>

<ion-grid>
  <ion-row>
    <ion-col>
      <ion-buttons>
        <ion-button (click)="aa">1
          <ion-icon name="calendar" size=small></ion-icon>
          </ion-button>
        </ion-buttons>
    </ion-col>
    <ion-col>
      <ion-buttons>
        <ion-button (click)="aa">2
          <ion-icon name="calendar" size=small></ion-icon>
          </ion-button>
        </ion-buttons>
    </ion-col>
    <ion-col>
      <ion-buttons>
        <ion-button (click)="aa">3
          <ion-icon name="calendar" size=small></ion-icon>
          </ion-button>
        </ion-buttons>
    </ion-col>
    <ion-col>
      <ion-buttons>
        <ion-button (click)="aa">4
          <ion-icon name="calendar" size=small></ion-icon>
          </ion-button>
        </ion-buttons>
    </ion-col>
    <ion-col>
      <ion-buttons>
        <ion-button (click)="aa">5
          <ion-icon name="calendar" size=small></ion-icon>
          </ion-button>
        </ion-buttons>
    </ion-col>
    <ion-col>
      <ion-buttons>
        <ion-button (click)="aa">6
          <ion-icon name="calendar" size=small></ion-icon>
          </ion-button>
        </ion-buttons>
    </ion-col>
    <ion-col>
      <ion-buttons>
        <ion-button (click)="aa">7
          <ion-icon name="calendar" size=small></ion-icon>
          </ion-button>
        </ion-buttons>
    </ion-col>
  </ion-row>
</ion-grid>

</ion-content>
