.generality{
    background-color:#fce198;
    font-size: x-small;
}

.day{
    ion-card-title{
        color: #264d00;
        font-weight: bold;
        font-size: medium;
    }
    ion-card-subtitle{
        font-size: x-small;
    }
    background-color:#fce198;
    font-size: x-small;
}

.meal{
    background-color: #fce198;
    font-size: small;
}

.action{
    color: #264d00;
    float: right;
    :hover{
        background-color: saturation($color: #fce198);
    }
}

.mealOverlay {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 20;
    background: rgba($color: #bb8c0d, $alpha: 1.0);
    top: 0;
    left: 0;
}

.showMeal{
    color: black;
}