.card{
    ion-card-title{
        color: #006400;
        font-weight: bold;
    }
    background-color:#ffff99;
    max-width: 85%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.confirm {
    margin-right: 15%;
    color: #006400;
    float: right;
}
