/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.card{
    padding-left: 3%;
    background-color: var(--avocado-color-primary-contrast);
    ion-card-title{
      color: var(--avocado-color-primary);
      font-weight: bold;
      font-size: small;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    ion-card-content{
      font-size: x-small;
      :hover{
          background-color: saturation($color: #fce198);
      }
    }
}

.author{
    color: "primary";
    font-size: x-small;
    float: right;
}
