<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/app/tabs/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Plan</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-template [ngIf]="plan">
    <ion-card class="card">
      <ion-card-header>
        <ion-card-title>{{plan.title}}
          <a href="" class="author">{{plan.owner}}</a>
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        {{plan.description}} <br>
        Drink: {{plan.drinkDescription}}
        <ion-card *ngFor="let day of plan.days" class="card">
          <ion-card-title>
            Day: {{day.weekDay}}
            Week: {{day.week}} <br>
          </ion-card-title>
          <div *ngFor="let meal of day.meals">
            <ion-label>
              Meal: {{meal.type}} <br>
            </ion-label>
            <ion-label *ngFor="let dish of meal.dishes" class="dish">
              {{dish.title}}: {{dish.description}} <br>
            </ion-label>
          </div>
        </ion-card>
      </ion-card-content>
    </ion-card>
    <div *ngIf="auth.user">
      <ion-button *ngIf="plan.owner === auth.user.sub" class="block" color="danger" (click)="deletePlan()">
        <ion-icon name="trash"></ion-icon>
        DELETE PLAN
      </ion-button>
      <ion-button *ngIf="plan.owner === auth.user.sub" class="block" color="primary" (click)="updatePlan()">
        <ion-icon name="create"></ion-icon>
        Update Plan
      </ion-button>
    </div>
  </ng-template>
</ion-content>