<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/app/tabs/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Plan</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<h4>Selected plan</h4>
<ng-template [ngIf]="plan">
<ion-card *ngIf="plan">
  <pre>{{plan | json}}</pre>
</ion-card>
<div *ngIf="auth.user">
    <ion-button *ngIf="plan.owner === auth.user.sub" 
      class="block"
    color="danger"
    (click)="deletePlan()">
    <ion-icon name="trash"></ion-icon>
    DELETE PLAN
  </ion-button>
</div>
</ng-template>
</ion-content>
