<form [formGroup]="planForm">
  <ion-card>
    <ion-item>
      <ion-label color="medium" position="stacked">Titolo</ion-label>
      <ion-input color="primary" type="text" formControlName="title"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="medium" position="stacked">Descrizione piano</ion-label>
      <ion-textarea  color="primary" autoGrow="true" formControlName="description"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label color="medium" position="stacked">Bevande</ion-label>
      <ion-textarea  color="primary" autoGrow="true" formControlName="drinkDescription"></ion-textarea>
    </ion-item>

    <ion-button expand="block" fill="clear" color="primary" (click)="addWeek()">
      <ion-icon name="add"></ion-icon>
      Aggiungi settimana
    </ion-button>
  <div formArrayName="days">
  <div *ngFor="let week of weeks">
    <ion-item-divider>
      <ion-label>Settimana {{week.index + 1}}</ion-label>
      <ion-button slot="end" color="primary" fill="clear" (click)="addDay(week)">
        <ion-icon name="add"></ion-icon>
        Aggiungi Giorno
      </ion-button>
    </ion-item-divider>
    <div *ngFor="let day of week.days?.controls; let i = index">
      <ng-template [ngIf]="!week.isDeleted(i)">
        <ion-item (click)="openDayModal(day)">
          <ion-label>
            {{weekDays[day.controls.weekDay.value]}}
          </ion-label>
          <ion-button color="danger" fill="clear" (click)="deleteDay(week, i)">
            <ion-icon name="trash"></ion-icon>
          </ion-button>
        </ion-item>
      </ng-template>
    </div>
  </div>

  <ion-button class="btn-submit" expand="block" color="primary" (click)="submitForm()"><ion-icon name="checkmark"></ion-icon>Salva</ion-button>
</div>

</form>